<div>TASK LIST</div>

<input
  type="text"
  [(ngModel)]="searchTerm"
  placeholder="Search for a task..." />

<app-task-form
  (add)="saveTask($event)">
</app-task-form>

<hr>

<div>
  <button (click)="filter = TaskFilter.All">All</button>
  <button (click)="filter = TaskFilter.Pending">Pending</button>
  <button (click)="filter = TaskFilter.Completed">Completed</button>
</div>

<ul>
  <app-task-item
    *ngFor="let task of filteredTasks"
    [task]="task"
    (toggle)="toggleTask($event)"
    (remove)="removeTask($event)">
  </app-task-item>
</ul>
