<div>TASK LIST</div>

<form (submit)="saveTask(); $event.preventDefault()">
  <input type="text" id="taskTitle" name="taskTitle" [(ngModel)]="newTaskTitle" placeholder="New task">
  <button type="submit">Save</button>
</form>

<hr>

<div>
  <button (click)="filter = TaskFilter.All">All</button>
  <button (click)="filter = TaskFilter.Pending">Pending</button>
  <button (click)="filter = TaskFilter.Completed">Completed</button>
</div>

<ul>
  <li *ngFor="let task of filteredTasks">
    <span [ngStyle]="{ 'text-decoration': task.completed ? 'line-through' : 'none' }">
      Task: {{task.title}}
    </span>
    - {{ task.completed ? 'Done' : 'Pending' }}
    <button (click)="toggleTask(task)">
      {{ !task.completed ? 'Complete' : 'Reopen' }}
    </button>
    <button (click)="removeTask(task); $event.stopPropagation()">Remove</button>
  </li>
</ul>