<div>TASK LIST</div>

<form
  (submit)="saveTask(); $event.preventDefault()">
  <input
    type="text"
    id="taskTitle"
    name="taskTitle"
    [(ngModel)]="newTaskTitle"
    placeholder="New task">
  <button type="submit">Save</button>
</form>

<hr>

<div>
  <button (click)="filter = TaskFilter.All">All</button>
  <button (click)="filter = TaskFilter.Pending">Pending</button>
  <button (click)="filter = TaskFilter.Completed">Completed</button>
</div>

<ul>
  <app-task-item
    *ngFor="let task of filteredTasks"
    [task]="task"
    (toggle)="toggleTask($event)"
    (remove)="removeTask($event)">
  </app-task-item>
</ul>
